.form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* margin-bottom: 5px; */
  }

  .form-group .input-name {
    margin-left: 10px;
    /* margin-right: 0px; */
    width: 150px; /* Adjust the label width */
    text-align: right; /* Align text to the right */
    background-image: linear-gradient(to bottom right, #AF40FF, #00DDEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .form-group input {
    
    max-height: 1.3rem;
    max-width: 150px; /* Maximum width of input */
  }

  .input-name {
    display: flex;
    align-items: flex-start;
  }

  input:focus, input:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
  }

  input {
    border: #ffffff95;
    background-color: #ffffffbd;
    border-radius: 5px;
    color: black;
    /* margin-left: 50px; */
  }

  .register-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    background-image: linear-gradient(to bottom right, #AF40FF, #5B42F3 50%,#00DDEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.register-button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.register-button:active,
.register-button:hover {
  outline: 0;
}

.register-button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.register-button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .register-button {
    font-size: 24px;
    min-width: 100px;
  }
}

.password-check {
    padding-left: 10px;
    color: rgb(47, 238, 47);
    text-shadow: 0 0 0px rgb(47, 238, 47), 0 0 0px rgb(47, 238, 47), 0 0 3px rgb(47, 238, 47), 0 0 4px rgb(47, 238, 47);
}

.password-check::before {
    content: "✔";
}

.password-x {
    padding-left: 10px;
    color: rgb(255, 0, 0);
    text-shadow: 0 0 0px rgb(255, 0, 0), 0 0 0px rgb(255, 0, 0), 0 0 3px rgb(255, 0, 0), 0 0 4px rgb(255, 0, 0);
}

.password-x::before {
    content: "✘";
}

/* .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
