header {
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* height: 120px; */
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-bottom: 15px;
  }

  .header-content h1 {
    font-size: 32px;
    color: #003366; 
    margin: 0;
    font-weight: 600;
  }
  
  .header-content h4 {
    font-weight: 400;
    color: #666; 
    margin-left: 9px;
  }
  
  .logoUnite {
    color: #003366;
  }

  .logoUnite:hover {
    color: rgb(40, 125, 200);
  }

  .logoUnite:active {
    color: #00509e;
  }

  .reactLogo {
    height: 35px;
    width: auto;
    margin-left: 9px;
    margin-top: 5px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    animation: spin 21s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  .nav {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-left: -705px;
    margin-bottom: 15px; 
  }

  .header-all {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
  }

  .avatar-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: auto;
    justify-content: flex-end;
    margin-top: 6px;
    margin-bottom: 15px;
    position: relative;
  }
  
  /* .nav .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  /* Стилове за бутоните */
  .nav-button {
    background: none;
    border: 2px solid #003366; 
    color: #003366; 
    font-size: 16px;
    margin: 15px;
    padding: 8px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 2.5px;
    margin-right: -30px;
  }
  
  .nav-button:hover {
    background-color: #003366;
    color: #ffffff; 
  }
  

  .profilePicture {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    object-fit: cover;
    margin-left: 20px;
    margin-top: -5px;
  }
  

  .search-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -15px; 
  }
  
  .search-container {
    background: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    padding: 10px;
    width: 100%; 
    max-width: 1285px; 
    display: block; 
  }
  
  .search-results {
    margin-top: 20px;
  }

  .search-container > .search-results-container {
    margin-left: 25px;
    margin-right: 25px;
    max-width: 98%;
  }
   
  .search-results div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .search-results div:last-child {
    border-bottom: none; 
  }
  
  .search-results h3 {
    font-size: 18px;
    color: #003366; 
    margin: 0;
  }
  
  .search-results p {
    margin: 5px 0;
    color: #555; 
  }
  
  .search-results a {
    color: #003366; 
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .search-results a:hover {
    color: #00509e; 
  }
  
  @media (prefers-color-scheme: dark) {
    header {
      background-color: rgba(0, 0, 0, 0.7); 
    }
  
    .header-content h1, .header-content h4, .nav-button {
      color: #ffffff; 
    }
  
    .search-container {
      background: rgba(0, 0, 0, 0.8); 
    }
  
    .search-results h3, .search-results p, .search-results a {
      color: #ffffff; 
    }
  
    .search-results a:hover {
      color: #aad4ff; 
    }
  }
  

  @media (prefers-color-scheme: light) {
    header {
      background-color: rgba(255, 255, 255, 1); 
    }
  
    .header-content h1, .header-content h4, .nav-button {
      color: #003366; 
    }
  
    .search-container {
      background: #ffffff; 
    }
  
    .search-results h3, .search-results p, .search-results a {
      color: #333333; 
    }
  
    .search-results a:hover {
      color: #00509e;
    }
  }
  